:root {
    --gray: #9b9a9d;  /*  7.50 */
    --hover: #1a1a1c; /*  1.20 */
    --rose: #e80070;
    --rose-hover: #c0005c;
    --transparent: #000a;
    --font-size: 16px;
    --border: .0625rem solid var(--hover);
    --radius: .5rem;
    --slot-width: 3.75rem;
}

html,
body {
    all: unset;
    flex-direction: column;
    touch-action: manipulation;
    user-select: none;
    font: 400 var(--font-size) system-ui, Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #000;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    /* -- Keep 16/9 aspect ratio --
    max-width: calc(1600vh / 9);
    width: 100%;
    max-height: calc(900vw / 16);
    height: 100%;
    */
    background-color: #479147;
}

html,
body,
body * {
    display: flex;
    box-sizing: border-box;
}

html,
body,
.inv,
.inv div {
    justify-content: center;
    align-items: center;
}

svg {
    fill: #fff;
    aspect-ratio: 1/1;
    height: 1.25rem;
    margin: .625rem;
}

.hidden,
.inv-hidden > :not(:last-child) {
    display: none;
}

/* ----- Inventory ----- */
.inv {
    flex-wrap: wrap;
    font-size: 18px;
}

.inv div {
    position: relative;
    image-rendering: pixelated;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--transparent);
    background-size: 75%;
    border-radius: var(--radius);
    width: calc(var(--slot-width) - .25rem);
    height: calc(var(--slot-width) - .25rem);
    margin: .125rem;
}

/* Count */
.inv div:not([data-count='1'])::after {
    position: absolute;
    content: attr(data-count);
    color: #fff;
    background-color: var(--transparent);
    border-radius: var(--radius) 0;
    padding: 0 .25rem;
    bottom: 0;
    right: 0;
}

/* Drag target */
.drag {
    opacity: .6;
}

/* Selected slot */
.selected {
    border: .125rem solid var(--rose);
}

/* --- Columns --- */
.inv-cols-1 {
    width: var(--slot-width);
}

.inv-cols-2 {
    width: calc(2 * var(--slot-width));
    height: calc(2 * var(--slot-width));
}

.inv-cols-3 {
    width: calc(3 * var(--slot-width));
}

.inv-cols-10 {
    width: calc(10 * var(--slot-width));
}

/* --- Player inventory --- */
#inv {
    flex-direction: column;
    position: absolute;
    bottom: .25rem;
}

#inv-top {
    align-items: center;
}

#inv > :nth-child(2) {
    margin: .25rem 0;
}

#inv-skin div {
    width: calc(100% - .25rem);
    height: calc(100% - .25rem);
}
